<html lang="en">
<head>
  {% block title %}<title>Design.pro</title>{% endblock %}
</head>

<body>
    {% block sidebar %}
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="">All books</a></li>
        <li><a href="">All authors</a></li>
      </ul>
    {% endblock %}
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>