<h1>Мои запросы</h1>
<a href="{% url 'cabinet'%}">Личный кабинет</a><br><br><br>
<form method="get" >
    <label for="status">Статус</label>
    <select name="status">
        <option value="">Все</option>
        <option value="Новая">Новая</option>
        <option value="Принято в работу">Принято в работу</option>
        <option value="Выполнено">Выполнено</option>
    </select>
    <input type="submit" value="Применить фильтр">
</form><br><br>
{% if posts %}
    {% for i in posts %}
        <h3>{{ i.name }}</h3>
        <p>{{ i.date }}</p>
        <p>{{ i.description }}</p>
        <p>{{ i.category }}</p>
        <p>{{ i.status }}</p>
         <img src="{{ i.photo_file.url}}" width="400px", height="350px"><br>
<a href="{% url 'application_delete' i.id %}">Удалить</a><br><br>
    {% endfor %}
 {% else %}
    <p>Вы ещё не созали заявок</p>
{% endif %}